<!DOCTYPE html>
	<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>JungleLi's Blog</title>
		<link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="../css/style.css" type="text/css" rel="stylesheet">
	</head>
	<body>
<div id="wrapper">
<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="../index.html">Home</a>
			</div>
			<div class="navbar-right" >
				<ul class="nav navbar-nav">
					<li>
						<a href="../index.html">Clock</a>
					</li>
					<li>
						<a href="readMe.html">readMe</a>
					</li>
					<li>
						<a href="contactMe.html">Contact</a>
					</li>
				</ul>
			</div>
		</div>
    <!-- /.container -->
	</nav>

		{{content }}
		
</div>
	<footer>
		<hr>
		Copyright © Li Junli 2015
	</footer>
	
	<!-- jQuery-->
	<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>

	<!-- main javascript-->

	<script src="../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	</body>
	</html>